*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box;
  
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#drum-machine {
  display: flex;
  justify-content: center;
  width: 20rem;
  height: 30rem;
}
